{% extends "base.html" %}

<!-- Begin page content -->

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Код</th>
                    </tr>
                    </thead>
                    <tbody>
                      
                        <tr>
                            <td scope="row">{{ snippet.id }}</td>
                            <td><a href={% url 'get_sn' snippetid=snippet.id %}>{{ snippet.name }}</a></td>
                            <td>{{ snippet.code}}</td>
                        </tr>
                    
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: 2</i>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}